body {
  background-image: url('https://wallpaperplay.com/walls/full/8/0/9/182523.jpg');
  background-size: auto 200vh;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.menu {
  background-color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

